.transparencia {
  background-color: rgba(150, 150, 150, 0.288);
}

.page {
  z-index: -3;
  cursor: none;
  position: none;
}

.pageNoneRelative {
  position: none;
}

@media (min-width: 320px) {
  .cardCurso {
    width: 270px !important;
    height: 220px !important;
  }
}

@media (min-width: 576px) {
  .cardCurso {
    width: 340px !important;
    height: 210px;
  }
}
